<!DOCTYPE html>
<html lang="es"><!--comentario-->
	<head>
		<title>Acerca de m&iacute;</title>
		<meta charset="utf-8"/>
		<meta description ="Vida profesional de Jorshua Briones."/>
		<link rel="stylesheet" type="text/css" href="css/estilos.css" />	
	</head>
<body>
	<section>
		<article>
			<ul>
				<h3> Formaci&oacute;n academica </h3>
			    <li>2009 – 2009:	(feb. – Nov.) Modulo: Experto en Hardware y Redes de PC’s, Universidad Nacional de Ingenier&iacute;a UNI (Facultad de Ingenier&iacute;a Industrial y de Sistemas).</li>
			    <li>2009 – 2010:		Bachillerato, I.E.S Koldo Mitxelena BHI (Errenteria – España).</li>
			    <li>2010 – 2012:	Carrera de Grado Superior. T&eacute;cnico Superior en Administración de Sistemas Informáticos en Red, Koldo Mitxelena (Errenteria – España).</li>
			    <li> 2015 – Actualidad: 	Ingeniería de sistemas. UPC – Universidad Peruana de Ciencias Aplicadas </li>
			</ul>
			<a href="index.html"> <h3> Inicio </h3> </a>
		</article>
	</section>
	<footer>
		<h6>© 2016 Jorshua Products, Inc. operando bajo el nombre de Jorshua Briones Rivas. Todos los derechos reservados. Una subsidiaria de Jorshua Corporation.</h6>
	</footer>
</body>
</html>