<!DOCTYPE html>
<html lang="es">

<head>

</head>
<body>
	<header>
		<h1>Diseño Web</h1>
		<p>El diseño web es una actividad que consiste en la planificación, diseño e implementación de sitios web. Un diseñador web tiene que ver con cómo crear y desarrollar un pagina web así también implementar la estructura Web para que como los clientes interactúan con ella</p>
		
	<p>Para la implementación de una arquitectura web se emplea los tres niveles lógicas (Layer o Capas) que son los siguiente:</p>

    <p><strong>Nivel Presentación:</strong> Es la capa donde interactua el usuario, presenta y recibe la información de los datos (Interface Gráfica) por ejemplo esto puede ser un formulario. Esta capa se comunica unicamente con el nivel de aplicación.</p>

    <p><strong>Nivel Aplicación:</strong> Es la capa lógica es donde se reciben las peticiones del usuario, en este nivel la aplicación del servidor tiene el código o lógica del negocio. Esta capa se comunica con el nivel de presentación y/o persitencia con el objetivo de devolver la peticiones o respuestas solicitadas.</p>

    <p><strong>Nivel Persitencia:</strong> Es esta capa es el responsable de gestionar y almacenar los datos. Por ejemplo un gestor de base de datos donde se almacena todos los datos. Además, se reciben las solicitudes de almacenamiento o recuperación de datos desde la capa de Aplicación.</p>

    <p>Tendiendo como resultado nuestra aplicación para diferentes plataformas</p>
        <img src="http://www.kiaravajda.com/img/serv-disenoweb.png" alt="logo Web">
	</header>

</body>