<!DOCTYPE html>
<html lang="es"><!--comentario-->
	<head>
		<title>Acerca de m&iacute;</title>
		<meta charset="utf-8"/>
		<meta description ="Vida profesional de Jorshua Briones."/>
		<link rel="stylesheet" type="text/css" href="css/estilos.css" />	
	</head>
<body>
	<section>
		<article>
			<ul>
		  		<h3>Experiencia Profesional:</h3>
		       	<li>Mar.2012 – Jun.2012	Pr&aacute;cticas de Grado Superior, PcCoste Errenteria.</li>
		       	<li>Jun.2012 – Jun.2013	T&eacute;cnico en Reparaciones, PcCoste Errenteria. Empresa Española dedicada a la venta y reparaci&oacute;n de ordenadores de mesa, equipos portátiles, tablet’s, teléfonos m&oacute;viles y artefactos electrónicos. L&iacute;der en su sector en 2012, Presente en distintas comunidades españolas.</li>
		       	<li>Ene.2012 – Jun.2013	Responsable de formaci&oacute;n al personal contratado.</li>
		       	<li>Ags.2013 – Ene.2014	T&eacute;cnico en Reparaciones y Mantenimiento de PC’s, impresoras. Instalaci&oacute;n y configuraci&oacute;n de equipos inform&aacute;ticos y redes, Grupo Leafar.	</li>
		       	<li>Feb.2014 – Agost.2014	T&eacute;cnico de Soporte para los equipos de Informática, multimedia y audio en Instituci&oacute;n Superior Arzobispo Loayza.</li>
		       	<li> Set.2014 – Mar.2015	Asistente de Sistemas, Revolutions Perú. </li>
		       	<li> Mar.2015 – Actualidad	Auxiliar de infraestructura IT, Bomi Group Per&uacute;. </li>
			</ul>
			<a href="index.html"> <h3> Inicio </h3> </a>
			<!-- -->
		</article>
	</section>
	<footer>
		<h6>© 2016 Jorshua Products, Inc. operando bajo el nombre de Jorshua Briones Rivas. Todos los derechos reservados. Una subsidiaria de Jorshua Corporation.</h6>
	</footer>
	<a href="/">Inicio</a>
</body>
</html>