<%= content_for :head do %>
  <title>About US</title>
<% end %>

<%= content_for :intro do %>
  <h1>Quiénes somos</h1>
 
<% end %>
<p>Somos una agencia de servicios web, soluciones tecnológicas para la empresa y asesoría estratégica de negocio.
Formamos un equipo internacional con origen en Perú, España y Francia. Somos profesionales del entorno web: programadores, diseñadores, especialistas de estrategia comercial y marketing. Esta variedad de competencias y orígenes nos permite ofrecer un servicio global de calidad. Combinamos el conocimiento del mercado peruano con la experiencia web y de desarrollo tecnológico en Europa para ayudarle dar un impulso nuevo a su empresa gracias a internet.</p>

<p><strong>Misión</strong></p>
Construir un futuro mejor para el Perú y Latinoamérica. Nuestro objetivo es conseguir que una mayoría de empresas en la región se beneficien de una tecnología puntera y expandan su actividad gracias a Internet. Para ello pondremos a disposición de nuestros clientes y socios comerciales todo nuestro conocimiento, habilidades y capacidad de trabajo.

<p><strong>Visión</strong>
Ser líderes en la implantación de soluciones tecnológicas y desarrollo online para empresas.</p>

 <img src="http://newemage.com.mx/wp-content/uploads/2015/07/diseno_web.jpg" alt="logo Web">