<h1>Página Web Gestionable</h1>

<p>¡Si te interesa publicar tus productos o servicios y modificarlos cuando creas conveniente, esta es la opción ideal, te brindamos un PANEL DE CONTROL, donde puedes tener acceso a agregar, editar o eliminar el contenido según creas conveniente, de manera sencilla y sin conocimiento de diseño o programación.</p>

 <p>Diseño web amigable y adaptable</p>
 <p>Posicionamiento SEO para buscadores</p>
 <p>Seguridad para ti y tus clientes</p>

 <img src="https://gx-estudio.com/assets/img/mockup/gestionable.png" alt="logo Web">