<ul>
  <li style="display: inline"><%= link_to 'Inicio', root_path %></li>
  <li style="display: inline"><%= link_to 'Quiénes Somos', about_path %></li>
  <li style="display: inline"><%= link_to 'Nuestro Servicio', services_path %></li>
</ul>